<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DotNetStudyConnectionString" connectionString="Data Source=localhost;Initial Catalog=DotNetStudy;User ID=HeabKing;Password=he394899990"
            providerName="System.Data.SqlClient" />
        <add name="connstr" connectionString="Data Source=.; Initial Catalog=bjhksj;User ID=HeabKing;Password=he394899990"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
