<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/msgBox.js"></script>
    <style type="text/css">
        #tbList {
            border: 1px solid #0094ff;
            width: 400px;
            margin: 20px auto;
            border-collapse: collapse;
        }

        #tbList td, #tbList th {
            border: 1px solid #0094ff;
            padding: 2px;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $.msgBox = new MsgBox({"imghref":"/images/"});
        });
    </script>
    @RenderSection("headSection", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
