@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>N03GlobalCss</title>
    <link href="~/Scripts/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>BootStrap <small>我是副标题</small> @*副标题*@</h2>
        <p>我是普通的在container中的 p 标签</p>
        <p class="lead">我是 p 标签 加上了class='lead', 突出显示</p>
        <p>
            <mark>mark标签</mark>是有点背景效果的
        </p>
        <del>del标签</del>

        <p class="text-left">text-left</p>
        <p class="text-center">text-left</p>
        <p class="text-right">text-left</p>
        <p>tExT</p>
        <p class="text-lowercase">tExT</p>
        <p class="text-uppercase">tExT</p>
        <p class="text-capitalize">tExT</p>

        <p>
            我是<abbr title="鼠标移上来显示的东西">缩略语</abbr>
        </p>

        <address>
            <strong>Heab</strong><br/>
            BaoDing, China<br/>
            河北大学工商学院<br/>
            <abbr title="Phone">P:15614214670</abbr>
        </address>
    </div>
</body>
</html>
