@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>N04Code</title>
    <link href="~/Scripts/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        For example <code>&lt;section&gt;</code> as inline;
        我希望能键入<kbd>cmd</kbd>命令
        <pre>
Sample code here ...
</pre>
        <var>x</var> = <var>y</var> + <var>z</var>;
        <samp>我是程序输出</samp>
    </div>
</body>
</html>
