@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>N08Button</title>
    <link href="~/Scripts/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-default">class="btn btn-default"</button>
    <button type="button" class="btn btn-primary">class="btn btn-primary"</button>
    <button type="button" class="btn btn-success">class="btn btn-success"</button>
    <button type="button" class="btn btn-info">class="btn btn-info"</button>
    <button type="button" class="btn btn-warning">class="btn btn-warning"</button>
    <button type="button" class="btn btn-link">class="btn btn-link"</button>
    <button type="button" class="btn btn-danger">class="btn btn-danger"</button>
</div>

<div class="div">
    <button type="button" class="btn btn-info btn-lg">btn-lg</button>
    <button type="button" class="btn btn-info">默认</button>
    <button type="button" class="btn btn-info btn-sm">btn-sm</button>
    <button type="button" class="btn btn-info btn-xs">btn-xs</button>
</div>
<button type="button" class="btn btn-default">默认</button>
<button type="button" class="btn btn-default btn-block">btn-block充满父级容器</button>
<a href="#" class="btn btn-default btn-lg active">a链接跟button差不多, 只是带有href</a>
    <a href="#" class="btn btn-default btn-lg disabled">disable</a>
    <img width="8%" src="~/头像.png" />
<img class="img-circle" width="8%" src="~/头像.png"/>
    <img class="img-responsive" width="8%" src="~/头像.png" />
    <img class="img-rounded" width="8%" src="~/头像.png" />
    <img class="img-thumbnail" width="8%" src="~/头像.png" />
</body>
</html>
